@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>@Model.UserName</div>
    <form asp-action="GetData" method="post">
        <input type="number" name="value" value="@Model.Value" min="1" max="1000"/>
        <button type="submit">Submit</button>
    </form>
    @if (Model.Calculated.HasValue)
    {
        <div>
            <input type="text" value="@Model.Calculated"/>
        </div>
    }

    @if (Model.Acc.HasValue)
    {
        <div>
            <input type="text" value="@Model.Acc"/>
        </div>
    }
</div>
